# Default values for flagger.

image:
  repository: weaveworks/flagger
  tag: 0.16.0
  pullPolicy: IfNotPresent

metricsServer: "http://prometheus:9090"

# accepted values are istio, appmesh, nginx or supergloo:mesh.namespace (defaults to istio)
meshProvider: ""

# single namespace restriction
namespace: ""

slack:
  user: flagger
  channel:
  # incoming webhook https://api.slack.com/incoming-webhooks
  url:

serviceAccount:
  # serviceAccount.create: Whether to create a service account or not
  create: true
  # serviceAccount.name: The name of the service account to create or use
  name: ""

rbac:
  # rbac.create: `true` if rbac resources should be created
  create: true

crd:
  # crd.create: `true` if custom resource definitions should be created
  create: true

nameOverride: ""
fullnameOverride: ""

resources:
  limits:
    memory: "512Mi"
    cpu: "1000m"
  requests:
    memory: "32Mi"
    cpu: "10m"

nodeSelector: {}

tolerations: []

affinity: {}

prometheus:
  # to be used with AppMesh or nginx ingress
  install: false
