# Default values for flagger.

image:
  repository: quay.io/stefanprodan/flagger
  tag: 0.1.0-beta.9
  pullPolicy: IfNotPresent

controlLoopInterval: "10s"
metricsServer: "http://prometheus.istio-system.svc.cluster.local:9090"

slack:
  user: flagger
  channel:
  # incoming webhook https://api.slack.com/incoming-webhooks
  url:

crd:
  create: true

rbac:
  create: true

nameOverride: ""
fullnameOverride: ""

resources:
  limits:
    memory: "512Mi"
    cpu: "1000m"
  requests:
    memory: "32Mi"
    cpu: "10m"

nodeSelector: {}

tolerations: []

affinity: {}
