# Default values for grafana.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: grafana/grafana
  tag: 6.2.5
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

resources: {}
  # limits:
  #  cpu: 100m
  #  memory: 128Mi
  # requests:
  #  cpu: 100m
  #  memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}

user: admin
password:

# Istio Prometheus instance
url: http://prometheus:9090

# Weave Cloud instance token
token:
